:global {
  .ant-breadcrumb {
    font-size: 16px !important;
  }
  .ant-card-type-inner .ant-card-head-title {
    font-size: 16px !important;
  }
  .ant-descriptions-item-content {
    font-size: 12px !important;
  }
  .ant-descriptions-item-container {
    align-items: baseline !important;
  }
  @media screen and (max-width: 768px) {
    .ant-breadcrumb {
      font-size: 14px !important;
    }
  }
}
