@import "./pages/home/less/antMotionStyle.less";
@import "./layouts/nav.less";
@import "./layouts/footer.less";

#app {
  background-color: #f9f9f9;
  min-height: 100%;
}

.header3-menu {
  min-width: 50%;
}
.header3-menu .ant-menu {
  justify-content: flex-end;
}
.header3-item .item-content,
.header3-item-child .item-content,
.header3-menu .item-content {
  margin-left: 0 !important;
}
.sd-body.sd-body--static {
  max-width: none !important;
}

.sd-page {
  flex-direction: row !important;
}

.sd-row.sd-page__row:not(.sd-row--compact)
  ~ .sd-row.sd-page__row:not(.sd-row--compact) {
  margin: 0 !important;
}

.templates-wrapper .content0-wrapper {
  margin-top: 40px;
}

.content0-wrapper:last-of-type {
  padding-bottom: 40px !important;
}

.templates-wrapper .content0-wrapper .content0 {
  max-width: 1440px;
  padding: 0 48px !important;
}

.ant-tabs-ink-bar {
  visibility: hidden;
}

.ant-space {
  flex-wrap: wrap !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  border-color: #fff !important;
}

.ant-radio-button-wrapper {
  border: none !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
  box-shadow: none !important;
}

.ant-radio-button-wrapper:not(:first-child)::before {
  background-color: #fff !important;
}

.ant-menu-submenu-arrow {
  display: none !important;
}

.ant-typography {
  color: #6a6a6a !important;
}

.ant-card-body h2 {
  font-size: 20px !important;
}

@media screen and (max-width: 1200px) {
  .ant-card-body h2 {
    font-size: 14px !important;
  }
}

.ant-list-item {
  align-items: flex-start !important;
}

.ant-list-item-meta-title > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ant-card-type-inner .ant-card-body{
  padding: 16px 12px !important;
}

.ant-list-item-action > li{
  padding: 0 !important;
}

.ant-card-head{
  background-color: #fff !important;
}

.ant-radio-button-wrapper{
  background-color: #fff !important;
  font-weight: 400 !important;
}

.ant-menu-title-content a {
  color: rgba(0, 0, 0, 0.85) !important;
}